[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
python-dotenv = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
boto3 = "*"
validators = "*"
requests = "*"

[requires]
python_version = "3.8"
